<% provide(:title, "Tools | Life Per Pixel") %>
<%= image_tag('tools_header.jpg') %>
<h3 class='tools-subheader'>A Collection of Our Favorite Tools &amp; Resources That We Use Daily</h3><br>
<div class="tools">

  <h3 class="best">Best in Education</h3><hr>
  <h2><%= link_to 'DuoLingo', 'https://www.duolingo.com/' %></h2>
  <div class= "row">
    <div class="col-md-4 tool-img">
      <%= link_to image_tag('duolingo.jpg'), 'https://www.duolingo.com/' %>
    </div>
    <div class="col-md-8 tool-description">
      Free: Pellentesque a tincidunt est. Morbi tristique ligula ac suscipit interdum.
      Integer ultricies neque quis ligula efficitur sagittis.
      Aliquam a convallis sem, ac tempor quam.Sed gravida interdum massa,
      sed auctor tellus molestie at. Nunc interdum sapien sit amet dui sodales,
      et interdum urna accumsan.
    </div>
  </div><br>

  <h3 class="best">Best in Yoga</h3><hr>
  <h2><%= link_to 'Down Dog', 'https://www.downdogapp.com/' %></h2>
  <div class= "row">
    <div class="col-md-4 tool-img">
      <%= link_to image_tag('downdog.jpg'), 'https://www.downdogapp.com/' %>
    </div>
    <div class="col-md-8 tool-description">
      Free: Pellentesque a tincidunt est. Morbi tristique ligula ac suscipit interdum.
      Integer ultricies neque quis ligula efficitur sagittis.
      Aliquam a convallis sem, ac tempor quam.Sed gravida interdum massa,
      sed auctor tellus molestie at. Nunc interdum sapien sit amet dui sodales,
      et interdum urna accumsan.
    </div>
  </div><br>

  <h3 class="best">Best in Productivity</h3><hr>
  <h2><%= link_to "Todoist", "https://www.todoist.com/" %></h2>
  <div class= "row">
    <div class="col-md-4 tool-img"><%= link_to image_tag('todoist.jpg'), "https://www.todoist.com/" %></div>
    <div class="col-md-8 tool-description">
      Free: Pellentesque a tincidunt est. Morbi tristique ligula ac suscipit interdum.
      Integer ultricies neque quis ligula efficitur sagittis.
      Aliquam a convallis sem, ac tempor quam.Sed gravida interdum massa,
      sed auctor tellus molestie at. Nunc interdum sapien sit amet dui sodales,
      et interdum urna accumsan.
    </div>
  </div><br>

  <h3 class="best">Best in Prayer</h3><hr>
  <h2><%= link_to 'Reimagining the Examen', "http://www.ignatianspirituality.com/23542/reimagining-examen-app" %></h2>
  <div class= "row">
    <div class="col-md-4 tool-img"><%= link_to image_tag('examen.jpg'), "http://www.ignatianspirituality.com/23542/reimagining-examen-app" %></div>
    <div class="col-md-8 tool-description">
      Free: Pellentesque a tincidunt est. Morbi tristique ligula ac suscipit interdum.
      Integer ultricies neque quis ligula efficitur sagittis.
      Aliquam a convallis sem, ac tempor quam.Sed gravida interdum massa,
      sed auctor tellus molestie at. Nunc interdum sapien sit amet dui sodales,
      et interdum urna accumsan.
    </div>
  </div><br>

  <h3 class="best">Best in Meditation</h3><hr>
  <h2><%= link_to 'Insight Timer', 'http://www.insighttimer.com/' %></h2>
  <div class= "row">
    <div class="col-md-4 tool-img"><%= link_to image_tag('insight.jpg'), 'http://www.insighttimer.com/' %></div>
    <div class="col-md-8 tool-description">
      Free: Pellentesque a tincidunt est. Morbi tristique ligula ac suscipit interdum.
      Integer ultricies neque quis ligula efficitur sagittis.
      Aliquam a convallis sem, ac tempor quam.Sed gravida interdum massa,
      sed auctor tellus molestie at. Nunc interdum sapien sit amet dui sodales,
      et interdum urna accumsan.
    </div>
  </div><br>

  <h3 class="best">Best in Exercise</h3><hr>
  <h2><%= link_to 'Johnson & Johnson 7-Minute Workout', 'https://7minuteworkout.jnj.com/' %></h2>
  <div class= "row">
    <div class="col-md-4 tool-img"><%= link_to image_tag('7M.jpg'), 'https://7minuteworkout.jnj.com/' %></div>
    <div class="col-md-8 tool-description">
      Free: Pellentesque a tincidunt est. Morbi tristique ligula ac suscipit interdum.
      Integer ultricies neque quis ligula efficitur sagittis.
      Aliquam a convallis sem, ac tempor quam.Sed gravida interdum massa,
      sed auctor tellus molestie at. Nunc interdum sapien sit amet dui sodales,
      et interdum urna accumsan.
    </div>
  </div><br>

  <h3 class="best">Best in Books</h3><hr>
  <h2><%= link_to 'OverDrive', 'https://www.overdrive.com/' %></h2>
  <div class= "row">
    <div class="col-md-4 tool-img"><%= link_to image_tag('overdrive.jpg'), 'https://www.overdrive.com/' %></div>
    <div class="col-md-8 tool-description">
      Free: Pellentesque a tincidunt est. Morbi tristique ligula ac suscipit interdum.
      Integer ultricies neque quis ligula efficitur sagittis.
      Aliquam a convallis sem, ac tempor quam.Sed gravida interdum massa,
      sed auctor tellus molestie at. Nunc interdum sapien sit amet dui sodales,
      et interdum urna accumsan.
    </div>
  </div>
</div><br>
