<% provide(:title, "Life Per Pixel") %>
<!DOCTYPE html>
<html lang='en'>
  <head>

    <!-- Meta Tags & Title -->
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

    <%= favicon_link_tag 'favicon.ico' %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

    <!-- Javascript  -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- RSS -->
    <%= auto_discovery_link_tag :rss, articles_url(:format => :rss) %>

  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
    			<a id="menu-toggle" href="#" class="navbar-toggle">
    				<span class="sr-only">Toggle navigation</span>
    			  <span class="icon-bar"></span>
    			  <span class="icon-bar"></span>
    			  <span class="icon-bar"></span>
    			</a>
          <%= image_tag 'lifelogo_50_gray.png', class: "minilogo" %>
    		</div>
        <div id="sidebar-wrapper" class="navbar navbar-fixed-left sidebar-toggle">
          <br>
          <%= link_to image_tag('lifelogo_125_gray.png', class: "logo"), root_path %>
          <ul class="sidebar-nav">
            <li><%= link_to mind_path do %><div class='mindsq pixel'></div>Mind<% end %></li>
            <li><%= link_to body_path do %><div class='bodybar'></div><div class='bodysq pixel'></div>Body<% end %></li>
            <li><%= link_to soul_path do %><div class='soulbar'></div><div class='soulsq pixel'></div>Soul<% end %></li>
            <li><%= link_to prosperity_path do %><div class='propbar'></div><div class='propsq pixel'></div>Prosperity<% end %></li>
          </ul>
          <div class="grid"></div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class='row'>

        <div class='col-md-10 content'>
          <p class="flash"><%= flash.notice %></p>
          <%= yield %>
        </div>

        <div class='col-md-2 col-md-offset-10 right-sidebar sticky'>
          <div class="sticky-sidebar">
            <% if logged_in? %>
              Admin mode
              <%= link_to "(logout)", logout_path %><br>
              <%= link_to "Create a New Article", new_article_path, class: 'new_article' %><br>
            <% end %>
            <br>
            <div class='about'>
              <%= link_to image_tag('about_us3.png'), about_path %>
            </div>
            <div class='categories'>
              <h1>Categories</h1>
              <ul>
                <li><%= link_to tag_path('popular') do %><div class='pixel' style='background-color: #2FB8FF;'></div>Popular<% end %></li>
                <li><%= link_to tag_path('relationships') do %><div class='pixel' style='background-color: #FE89F2;'></div>Relationships<% end %></li>
                <li><%= link_to tag_path('happiness') do %><div class='pixel' style='background-color: #16DFCD;'></div>Happiness<% end %></li>
                <li><%= link_to tag_path('spirituality') do %><div class='pixel' style='background-color: #6174EC;'></div>Spirituality<% end %></li>
                <li><%= link_to tag_path('finance') do %><div class='pixel' style='background-color: #FFB66E;'></div>Finance<% end %></li>
                <li><%= link_to tag_path('health') do %><div class='pixel' style='background-color: #91F6FE;'></div>Health<% end %></li>
                <li><%= link_to tag_path('creativity') do %><div class='pixel' style='background-color: #4566BA;'></div>Creativity<% end %></li>
              </ul>
            </div><br>
            <div>
              <%= link_to image_tag('books.jpg'), books_path %>
            </div><br>
            <div>
              <%= link_to image_tag('tools.jpg'), tools_path %>
            </div>
            <div class='email-newsletter'>
              <form class="email-form">
                <input type="text" id="email" name="email" placeholder="Enter Email">
                <button>Sign Up</button>
                <div class="message"></div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
